<!--<p class="footer-company-motto">The company motto.</p>-->

<p class="footer-links">
	<a href="#">Home</a>
	·
	<a href="#">About</a>
	·
	<a href="#">Contact</a>
</p>

<p class="footer-company-name">Smart Farms © 2018 | v1.0 by Mahesha Kulatunga</p>
