<!--<p class="footer-company-motto">The company motto.</p>-->

<p class="footer-links">
	<a href="/">HOME</a>
	·
	<a href="/agro">AGRO</a>
	·
	<a href="/fish">FISH</a>
	·
	<a href="/hydro">HYDRO</a>
	·
	<a href="/energy">ENERGY</a>
	·
	<a href="/data">DATA</a>
	·
	<a href="/gene">GENE</a>
	·
	<a href="/contact">CONTACT</a>
</p>

<p class="footer-company-name">Smart Farms © 2018 | v1.0 by Mahesha Kulatunga</p>
