<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="sr-only">Toggle Navigation</span>
      </button>
      <a href="/" class="navbar-brand" style="padding:2px 15px 3.5px 0px;" ><img width="70px" src="../imgs/bulb-final-.png"></img></a>

    </div>
    <ul class="nav navbar-nav collapse navbar-collapse">
      <li><a href="/">HOME</a></li>
      <li><a href="/company">AGRICULTUE</a></li>
    </ul>
    <div class="form-input-button git-input-button hidden-xs"  >
      <a class="form-button git-button" type="submit" href="/contact">GET IN TOUCH</a>

    </div>
  </div>
</nav>
