<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="sr-only">Toggle Navigation</span>
      </button>
      <a href="/" class="navbar-brand" style="padding:7px 15px 0px 0px;" ><img width="70px" src="../imgs/bulb-final-.png"></img></a>

    </div>
    <ul class="nav navbar-nav collapse navbar-collapse">
      <li><a href="/">HOME</a></li>
      <li><a href="/company">ABOUT</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
