body, footer, head {
  font-family: 'Heebo', sans-serif !important;


  /*
  font-family: 'Archivo Narrow', sans-serif;

  font-family: 'Roboto', sans-serif !important;


  */
}

.contact-icons {
  font-size: 40px;
}

.contact-link {
  margin-bottom: 0px;
  color: grey;
}

.form-left h1, .form-left span {
  color: white;
  font-size: 95px;;
}

.contactus-div {
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.form-left {
  background: url("../imgs/agriculture-field-forest-1686.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
}

.form-section {
  height:auto !important;
  overflow:scroll;
}

.form-input {
  padding-bottom:5vh;
}

.form-input, .form-input input, .form-input textarea {
  font-size: 18px;
  background-color: transparent;
}

.form-input input, .form-input textarea {
  border-bottom: 1px solid white

}

.form-control:focus, .form-button:focus {
    border: none;
    border-bottom: 1px solid yellow;

    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:white !important;
   opacity:1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:white !important;
   opacity:1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:white !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:white !important;
}


.form-control {
  border: none;
  border-radius: 0px;
}

#details-form {
  padding-top:6vh;
}

.form-button {
  padding-top:3%;
  padding-bottom:3%;
  padding-right:15%;
  padding-left:15%;
  color:white;


}

.form-input-button {
  padding-bottom: 0px;
}

.details-form {
  margin-bottom: 0px;
}

.nav>li>a {
  padding-left: 0px !important;
}

.navbar {
  z-index: 99;
}

.navbar-collapse {
  padding-left: 0px !important;
  padding-right: 0px !important;

}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;

}



.container {
  padding-left: 0px;
}
.jumbotron {
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {

    }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

      .section-1 {
        background: url("../imgs/stock-photo-green-vegetables-and-dark-leafy-food-background-as-a-healthy-eating-concept-of-fresh-garden-produce-154023704.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh !important;
      }

      .contact-section-1 {
        background: url("../imgs/agriculture-ball-shaped-cooking-5808.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 70vh !important;
        margin-bottom: 0vh;
      }

      .contact-details h4 {
        font-weight: bold;
      }

      .contact-section-2 {
        background:white;
        padding-top: 8vh;

      }

      .section-1 .main-banner {
        padding-top: 20vh;
      }

      .contact-section-1 .main-banner {
        text-align: left;
        padding-top: 20vh;
        padding-left: 10%;

      }


      .navbar-inverse .navbar-nav>li>a {
        color: white;
      }

      .section-2 {
        background:white;
        height: 100vh !important;

      }

      .section-3 {
        background: url("../imgs/stock-photo-organic-hydroponic-vegetable-garden-open-farm-271527587.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh !important;

      }

      .navbar {
        margin-bottom: -50px !important;
        background: transparent !important;
        border: none;
      }


.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 0px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

@media(max-width:767px){
  .container-fluid {
    background: #333;
  }

  .nav>li>a {
    padding-left: 20px !important;
  }

  .details {
    padding-bottom: 50px;;
  }

  .navbar-helper {
    margin: 0px !important;
    width:100%;
  }

  .navbar-collapse, .navbar-header {
    margin: 0px !important;
    width:100%;

  }
}

@media (min-width: 768px){
  .jumbotron h1 {
      font-size: 106px;
  }

  .contact-section-2 {
    height: 30vh !important;

  }

  .navbar {
    border-radius: 0px !important;
    padding: 0px 10%;
  }



  .section-1 {
    padding: 70px 0;
}
}
