<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron contact-section-1 text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="main-banner col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <h1>CONTACT US</h1>
  </div>
</div>
<div class=" contact-section-2 text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-details">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 details">
      <span class="glyphicon glyphicon-globe contact-icons" aria-hidden="true"></span>
      <h4 >FOLLOW US</h4>
      <p class="contact-link">Facebook @smartfarms</p>
      <p class="contact-link">LinkedIn /smartfarms</p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 details">
      <span class="glyphicon glyphicon-envelope contact-icons" aria-hidden="true"></span>
      <h4>EMAIL</h4>
      <p class="contact-link">smartfarms@gmail.com</p>
      <p class="contact-link">aavin.dambawinne@gmail.com</p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 details">
      <span class="glyphicon glyphicon-earphone contact-icons" aria-hidden="true"></span>
      <h4>PHONE</h4>
      <p class="contact-link">+94 (011) 1292738</p>
      <p class="contact-link">+94 (0) 771292738</p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 details">
      <span class="glyphicon glyphicon-map-marker contact-icons" aria-hidden="true"></span>
      <h4 >VISIT US</h4>
      <p class="contact-link">1260/4 Rajamalwatte Road</p>
      <p class="contact-link">Battaramulla</p>

    </div>

  </div>
</div>

<div class="contactus-div col-lg-12 col-md-12 col-sm-12 col-xs-12 form-left">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs" style="display:block">

  <h1> SEND US AN INQUIRY <br/> <span class="glyphicon glyphicon-chevron-right contact-icons" aria-hidden="true"></span>
</h1>

</div>
  <div class="form-section col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="display:block">
    <form id="details-form" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" method="post" action="/send">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="text" placeholder="Firstname" class="form-control" name="inquiry[firstname]" required>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="text" placeholder="Lastname"class="form-control" name="inquiry[surname]" required>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="text" placeholder="Designation"class="form-control" name="inquiry[designation]" required>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="text" placeholder="Company"class="form-control" name="inquiry[company]" required>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="number" placeholder="Contact number"class="form-control" name="inquiry[number]" max-length="12">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input">
        <input type="email" placeholder="Email"class="form-control" name="inquiry[email]" required>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-input">
        <textarea rows="6" type="text" placeholder="Your message"class="form-control" name="inquiry[message]"></textarea>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-input-button">
        <input class="form-button" type="submit" value="Submit">

      </div>






    </form>
  </div>
</div>


<script>
(function() {
  var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/";
  if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
</script>

</body>

<footer class="footer-basic-centered col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <% include ../partials/footer.ejs %>
</footer>
</html>
