<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="col-xs-12 col-sm-12 col-md-12 contactus-div">
<h2 class="col-xs-12 col-sm-12 col-md-12">Contact Us</h2>

<div class="col-xs-6 col-sm-6 col-md-6">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScqgFy0x7yjd-s7G4R0dfAzt_qxxKllkwizrQ9FhLfHTath8w/viewform?embedded=true" width="100%" height="1300px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>


<div class="col-xs-6 col-sm-6 col-md-6">
  <div class="typeform-widget" data-url="https://maheshakulatunga.typeform.com/to/QYihlt" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;margin:0px !important;"></div>

</div>




</div>


<script>
(function() {
  var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/";
  if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
</script>

</body>
</html>
