<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="main-image-wrapper">
  <img class="main-image" src="../imgs/bulb-final-.png"></img>
</div>
<div id="bg6" class="jumbotron section-1 text-center " style="margin-bottom:0px;">
  <% include ../partials/nav.ejs %>
  <div class="main-banner">
<svg viewBox="0 0 240 50" xmlns="http://www.w3.org/2000/svg">
  <text class="main-text" x="15" y="30">SMART </text>
  <text class="main-text" x="140" y="30">FARMS</text>
</svg>

    <div class="form-input-button git-input-button hidden-xs" style="float:unset;"  >
      <a class="form-button git-button" type="submit" href="/contact">FIND OUT MORE</a>

    </div>
  </div>
</div>
<!---->
<div class=" section-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container section-2-container col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <h2 class="index-bold index-block-big-text">Ecologically viable farming solutions</h2>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="index-block-heading">We at Smart Farms aim to create efficient, sustainable and renewable systems to improve and modernize industries in Sri Lanka.</h4>
    <p class="index-block-text">By reinventing what a farm truely is and seperating each area of produce into it's respective category we find that efficiency and productivity is enhanced.
      This approach allows for a wider range of solutions ranging from agro-based, hydro-based and technolgical farming systems. </p>
    </div>


  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 industries">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/wheat.svg"></img>
      <h2 class="index-bold"> AGRO-FARMS </h2>
      <h4 class="index-bold"> <a style=""href="/company">Find out more </a></h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/fish.svg"></img>
      <h2 class="index-bold"> FISH-FARMS </h2>
      <h4 class="index-bold"> Coming soon </h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/hydro-power.svg"></img>
      <h2 class="index-bold"> HYDRO-FARMS </h2>
      <h4 class="index-bold"> Coming soon </h4>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 industries">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/energy.svg"></img>
      <h2 class="index-bold"> ENERGY-FARMS </h2>
      <h4 class="index-bold"> Find out more </h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/data.svg"></img>
      <h2 class="index-bold"> DATA-FARMS </h2>
      <h4 class="index-bold"> Coming soon </h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center index-block">
      <img class="index-icon" style="vertical-align: text-bottom;" src="../imgs/gene.svg"></img>
      <h2 class="index-bold"> GENE-FARMS </h2>
      <h4 class="index-bold"> Coming soon </h4>
    </div>
  </div>
</div>
<div class="section-3-index">
  <svg viewBox="0 0 240 90" xmlns="http://www.w3.org/2000/svg">
    <text x="30" y="67.5" z="0" class="heavy-bg">Smart Farms</text>
    <text x="20" y="27.5" z="4" class="heavy sus">Sustainable &</text>
    <text x="20" y="40" z="3" class="heavy ren">Revewable</text>
    <text x="20" y="52.5" z="2" class="heavy sys">Systems</text>


  </svg>
</div>
<div class="section-4-index col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="index-sec4-text col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h1>The Largest Crop Ever</h1>
    <h2>Smells racy free announcing than durable zesty smart exotic far feel. Screamin' affordable secret way absolutely.</h2>
    <p>Stimulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior</p>
  </div>
  <div class="index-img col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <img class="img-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" style="vertical-align: text-bottom;" src="../imgs/agriculture-basil-bunch-348689.jpg"></img>
  </div>
</div>


<footer class="footer-basic-centered">
  <% include ../partials/footer.ejs %>
</footer>

</body>
</html>
