<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div id="bg6" class="jumbotron section-1 text-center " style="margin-bottom:0px;">
  <% include ../partials/nav.ejs %>
  <div class="main-banner">

    <h1>SMART <img style="vertical-align: text-bottom;" width="200px" src="../imgs/bulb-final-.png"></img> FARMS</h1>
    <div class="form-input-button git-input-button hidden-xs" style="float:unset;"  >
      <a class="form-button git-button" type="submit" href="/contact">FIND OUT MORE</a>

    </div>
  </div>
</div>
<!--
<div class=" section-2 text-center">
  <div class="container">
  FatherMack69

  </div>
</div>
-->

</body>
<footer hidden class="footer-basic-centered">
  <% include ../partials/footer.ejs %>
</footer>
</html>
