<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div id="bg6" class="jumbotron section-1 text-center ">
  <% include ../partials/nav.ejs %>
  <div class="main-banner">

    <h1>SMART <img style="vertical-align: text-bottom;" width="200px" src="../imgs/bulb-final-.png"></img> FARMS</h1>
  </div>
</div>
<div class=" section-2 text-center">
  <div class="container">
  </div>
</div>


</body>
<footer class="footer-basic-centered">
  <% include ../partials/footer.ejs %>
</footer>
</html>
